body {
  background-image: url(../images/golf-1938932.jpg);
  background-size: 100%;
}



/* ol {
  background: #0000008c;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  font-size: 1.2rem;
} */


